* {
  color: red;
}

.header {
    background-color: lightgrey;
    border: 25px solid green;
    padding: 15px;
    margin: 25px;
}

.content {
  background-color: green;
}

.footer {
  background-color: yellow;
}
