* {
  font-family: cursive;
}

table {
	border: 10px solid black;
  width: 100%;
}

td {
	padding: 18px;
	border-radius: 10px;
  border: 1px solid #85144b;
}

th {
	background-color: #85144b;
	color: white;
}

h1 {
  text-align: center;
}
